<div class="container">
    <div>
        <label>Customer Details</label>
    </div>
    <div class="row row-container">
        <div class="col-md-4">
            <div class="field-container">
                <div>Customer First Name</div>
                <input type="text" [(ngModel)]="customerFName">
            </div>
            <div class="field-container">
                <div>Phone Number</div>
                <input type="tel" [(ngModel)]="custPhoneNumber">
            </div>

        </div>
        <div class="col-md-4">
            <div class="field-container">
                <div>Customer last Name</div>
                <input type="text" [(ngModel)]="customerLName">
            </div>
            <div class="field-container">
                <div>Email Id</div>
                <input type="email" [(ngModel)]="email">
            </div>
        </div>
        <div class="col-md-4">
            <div class="field-container">
                <div>Boarding Location</div>
                <input type="text" [(ngModel)]="boardingLoc">
            </div>
        </div>
    </div>
    <div class="mt-1">
        <label>Address Details</label>
    </div>
    <div class="row row-container mt-1">
        <div class="col-md-4">
            <div class="field-container">
                <div>House Name/No.</div>
                <input type="text" [(ngModel)]="houseName">
            </div>
            <div class="field-container">
                <div>District</div>
                <input type="text" [(ngModel)]="district" [disabled]="!country || !state"
                    [typeahead]="districts[state]" [typeaheadAsync]="false" autocomplete="off" >
            </div>
        </div>

        <div class="col-md-4">
            <div class="field-container">
                <div>Country</div>
                <input type="text" [(ngModel)]="country" [typeahead]="countries"
                    [typeaheadAsync]="false">
            </div>
            <div class="field-container">
                <div>Locality</div>
                <input type="text" [(ngModel)]="locality" [disabled]="!country || !state || !district"
                    [typeahead]="localities[district]" [typeaheadAsync]="false" autocomplete="off" >
            </div>
        </div>
        <div class="col-md-4">
            <div class="field-container">
                <div>State</div>
                <input type="text" [(ngModel)]="state" [disabled]="!country"
                    [typeahead]="states[country]" [typeaheadAsync]="false" autocomplete="off">
            </div>

        </div>
    </div>


    <div class="mt-1">
        <label>Package Details</label>
    </div>
    <div class="row row-container">
        <div class="col-md-4">
            <div class="field-container">
                <div>Select Package</div>
                <select [(ngModel)]="selectedPKG" (change)="changePackage()">
                    <option [value]="item.key" *ngFor="let item of packageIdmap | keyvalue">{{ item.value}}</option>
                </select>
            </div>
            <div class="field-container">
                <div>Travel Mode</div>

                <select [(ngModel)]="travelMode">
                    <option [value]="fdOp" *ngFor="let fdOp of selectedPackageTravelOptions">{{fdOp}}</option>
                </select>
            </div>
            <div class="field-container" *ngIf="packageFoodOptions.length">
                <div>Food Options</div>
                <ng-container *ngFor="let fdOpt of packageFoodOptions">
                    <input type="checkbox" (change)="updateFoodOption(fdOpt)" [checked]="selectedFoodOptions.includes(fdOpt)">
                    <span class="checkbox-label">{{fdOpt}}</span>
                </ng-container>
            </div> 

        </div>
        <div class="col-md-4">
            <div class="field-container">
                <div>Trip Start Date</div>
                <input type="date" [min]="tripStartMinDate" [max]="tripEnd" [(ngModel)]="tripStart">
                <!-- [max]="tripStartMaxDate"  -->
                <!-- (change)="onChangeStartDate()" -->
            </div>
            <div class="field-container">
                <div>Tripdays</div>
                <input type="number" [min]="1" [max]="tripMax" [placeholder]="tripMax" [(ngModel)]="tripDays">
            </div>
            <div class="field-container" *ngIf="packageFoodOptions.length">
                <div>Sub Locations</div>
                <ng-container *ngFor="let subLoc of packageSubLocations">
                    <input type="checkbox" (change)="updateSubLocations(subLoc)" [checked]="selectedSubLocations.includes(subLoc)">
                    <span class="checkbox-label">{{subLoc}}</span>
                </ng-container>
            </div> 
        </div>
        <div class="col-md-4">
            <div class="field-container">
                <div>Trip End Date</div>
                <input type="date" [min]="tripStart" [(ngModel)]="tripEnd">
                <!-- [min]="tripStartMinDate" -->
                <!-- (change)="onChangeEndDate()" -->

            </div>
            <div class="field-container">
                <div>Price</div>
                <input type="text" [(ngModel)]="custPrice">
            </div>
        </div>

        <!-- <div class="field-container">
        <div>Test</div>
        <select [(ngModel)]="selectedPKG">
            <option [value]="'PKG_TVM'">Trivandrum</option>
            <option [value]="'PKG_K'">Kochi</option>
            <option [value]="'PKG_W'">Wayanad</option>
        </select>
             </div>  -->
    </div>


</div>
    <div class="row btn-container">
        <button type="button" (click)="addCust()">Submit</button>
    </div>