.container {
    margin: 8px;
    font-weight: bold;
}

input[type=text] {
    width: 75%;
    padding: 10px 6px;
    border: 1px solid gray;
    border-radius: 3px;
}

.field-container {
    margin-top: 10px;
}

.checkbox-label {
    margin-left: 4px;
    margin-right: 8px;
}

.sublocation {
    padding: 6px 9px;
    background-color: #FFE4C4;
    border: none;
    border-radius: 5px;
    margin-right: 3px;
}

.mt-1 {
    margin-top: 4px;
    display: flex;
}

.mb-1 {
    margin-bottom: 4px;
}

.close {
    color: brown;
    position: relative;
    left: 10px;
    top: 3px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 6px;
}

.btn-container {
    display: flex;
    justify-content: right;
    margin-right: 80px;
    margin-top: 30px;
}

button {
    padding: 6px;
    border: none;
    border-radius: 4px;
    background-color: rgb(240, 198, 143);
}

input[type=date] {
    width: 75%;
    padding: 10px 6px;
    border: 1px solid gray;
    border-radius: 3px;
}

select {
    width: 75%;
    padding: 10px 6px;
    border: 1px solid gray;
    border-radius: 3px;
}

input[type=tel] {
    width: 75%;
    padding: 10px 6px;
    border: 1px solid gray;
    border-radius: 3px;
}

input[type=email] {
    width: 75%;
    padding: 10px 6px;
    border: 1px solid gray;
    border-radius: 3px;
}

input[type=number] {
    width: 75%;
    padding: 10px 6px;
    border: 1px solid gray;
    border-radius: 3px;
}

.row-container{
    border-radius: 6px;
    border: solid 1px gray;
    padding: 20px;
}